header.index_home {
  width: 100%;
  height: 12.5%;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 1em;
  padding: 1.5em 3.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index_home nav {
  display: flex;
  align-items: center;
}
nav.navbar div {
  margin-left: 2em;
}

div.home_container {
  width: 100%;
  height: 65%;
  border: 2px solid black;
  padding: 0 3.5rem;
}
.home_container div.home_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
div.icons {
  background: rgba(255, 255, 255, 0.8);
  width: 68%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.icons div.icon_cont {
  width: 30%;
  text-align: center;
}

.icon_cont img {
  width: 90%;
  height: auto;
  border-radius: 50%;
  border: 8px rgb(224, 224, 224) solid;
  box-shadow: -1px 4px 6px rgba(0, 0, 0, 0.6);
}
.icon_cont p {
  color: black;
  margin-top: 0.5em;
}

div.offer {
  background: rgba(255, 255, 255, 0.8);
  width: 30%;
  height: 100%;
  border-radius: 5px;
  text-transform: uppercase;
  color: black;
  display: flex;
  flex-wrap: wrap;
}
.offer>*{
    padding: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.offer>div span{
  font-size: 7.5vw;
  font-weight: 700;
}
div.offer_cont_1 {
  font-size: 1.5em;
  width: 50%;
  height: 42.5%;
}
div.offer_cont_2 {
  font-size: 1.7em;
  width: 50%;
  height: 42.5%;
}
div.offer_cont_3 {
  font-size: 1.6em;
  width: 100%;
  height: 15%;
}
